[submodule "Submodules/SharpCaster"]
	path = Submodules/SharpCaster
	url = https://github.com/Tapanila/SharpCaster.git
[submodule "Submodules/Tmds.MDns"]
	path = Submodules/Tmds.MDns
	url = https://github.com/tmds/Tmds.MDns.git
